body {
    text-align: center; /* Középre igazítás */
    font-family: Arial, sans-serif; /* Szebb betűtípus */
}

h1 {
    margin: 20px 0;
}

h1 span img {
    vertical-align: middle; /* Igazítás a szöveg közepéhez */
    border-radius: 10px; /* Lekerekített sarkok */
    transition: transform 0.3s ease, border-color 0.3s ease; /* Animáció */
}
h1 span img:hover {
    transform: scale(1.1); /* Kicsit nagyobb kép hoverre */
    border-color: lime; /* Keret színének megváltoztatása hoverre */
}

h1 span {
    display: inline-block; /* Együtt tartja a képet és a szöveget */
}

p a img {
    margin: 10px; /* Távolság a képek között */
    border: 2px solid #ddd; /* Dekoratív keret */
    border-radius: 10px; /* Lekerekített sarkok */
    transition: transform 0.3s ease, border-color 0.3s ease; /* Animáció */
}

p a img:hover {
    transform: scale(1.1); /* Kicsit nagyobb kép hoverre */
    border-color: lime; /* Keret színének megváltoztatása hoverre */
}